@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'normalize.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Base font size for the document */
}

body {
  line-height: 2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-size: 1rem; /* Paragraph font size */
}

a {
  text-decoration: underline;
  font-weight: 600;
}
